footer.footer
    .container
        .footer__widgets
            .row
                .col-lg-4.col-md-6
                    .widget.widget__about
                        h4.widget-title.white about us
                        p.widget__about-text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum eius iure iste fugiat distinctio provident ab debitis id, ipsam quis, assumenda totam suscipit nobis sequi ad inventore adipisci asperiores!
                .col-lg-4.col-md-6
                    .widget.widget__newsletter
                        h4.widget-title.white get exclusive offers &amp; updates
                        form.mc4wp-form
                            .mc4wp-form-fields
                                p
                                    input(type='email' placeholder='Please enter your email address' aria-label='Newsletter input')
                                p
                                    input(type='submit' value='Subscribe')
                        .socials.socials--white.mt-20
                            a.facebook(href='https://www.facebook.com/eduduu' target="_blank" aria-label='facebook')
                                i.ui-facebook
                            a.twitter(href='https://twitter.com/Eduardod_Araujo' target="_blank" aria-label='twitter')
                                i.ui-twitter
                            a.instagram(href='#' target="_blank" aria-label='instagram')
                                i.ui-instagram
                            a.pinterest(href='#' target="_blank" aria-label='pinterest')
                                i.ui-pinterest
                .col-lg-2.col-md-6
                    .widget.widget_nav_menu
                        h4.widget-title.white help
                        ul
                            li
                                a(href='/contact') Contact Us
                            li
                                a(href='#') Track Order
                            li
                                a(href='#') Returns &amp; Refunds
                            li
                                a(href='#') Private Policy
                            li
                                a(href='#') Shipping Info
                            li
                                a(href='#') FAQ
                .col-lg-2.col-md-6
                    .widget.widget_nav_menu
                        h4.widget-title.white information
                        ul
                            li
                                a(href='#') Our Stores
                            li
                                a(href='#') Careers
                            li
                                a(href='#') Delivery Info
                            li
                                a(href='#') Terms &amp; Conditions
                            li
                                a(href='#') Site Map
                            li
                                a(href='#') Namira Reviews
    // end container
    .footer__bottom
        .container
            .row
                .col-md-6.text-sm-center
                    span.copyright
                        | &copy; coded by 
                        a(href='http://deothemes.com') José Eduardo
    // end bottom footer
// end footer
