header#sidenav.sidenav
    // Search
    .sidenav__search-mobile
        form.sidenav__search-mobile-form(method='get')
            input.sidenav__search-mobile-input(type='search' placeholder='Search...' aria-label='Search input')
            button.sidenav__search-mobile-submit(type='submit' aria-label='Submit search')
                i.ui-search
    nav
        ul.sidenav__menu(role='menubar')
            li
                a.sidenav__menu-link(href='#') Men
                button.sidenav__menu-toggle(aria-haspopup='true' aria-label='Open dropdown')
                    i.ui-arrow-down
                ul.sidenav__menu-dropdown
                    li
                        a.sidenav__menu-link(href='#') T-shirt
                    li
                        a.sidenav__menu-link(href='#') Hoodie &amp; Jackets
                    li
                        a.sidenav__menu-link(href='#') Suits
                    li
                        a.sidenav__menu-link(href='#') Shorts
            li
                a.sidenav__menu-link(href='#') Women
                button.sidenav__menu-toggle(aria-haspopup='true' aria-label='Open dropdown')
                    i.ui-arrow-down
                ul.sidenav__menu-dropdown
                    li
                        a.sidenav__menu-link(href='#') Underwear
                    li
                        a.sidenav__menu-link(href='#') Hipster
                    li
                        a.sidenav__menu-link(href='#') Dress
                    li
                        a.sidenav__menu-link(href='#') Hoodie &amp; Jackets
                    li
                        a.sidenav__menu-link(href='#') Tees
            li
                a.sidenav__menu-link(href='#') Accessories
                button.sidenav__menu-toggle(aria-haspopup='true' aria-label='Open dropdown')
                    i.ui-arrow-down
                ul.sidenav__menu-dropdown
                    li
                        a.sidenav__menu-link(href='#') All accessories
                        button.sidenav__menu-toggle(aria-haspopup='true' aria-label='Open dropdown')
                            i.ui-arrow-down
                        ul.sidenav__menu-dropdown
                            li
                                a.sidenav__menu-link(href='#') Wallets
                            li
                                a.sidenav__menu-link(href='#') Scarfs
                            li
                                a.sidenav__menu-link(href='#') Shirt
                            li
                                a.sidenav__menu-link(href='#') Shoes
                    li
                        a.sidenav__menu-link(href='#') for her
                        button.sidenav__menu-toggle(aria-haspopup='true' aria-label='Open dropdown')
                            i.ui-arrow-down
                        ul.sidenav__menu-dropdown
                            li
                                a.sidenav__menu-link(href='#') Underwear
                            li
                                a.sidenav__menu-link(href='#') Hipster
                            li
                                a.sidenav__menu-link(href='#') Dress
                            li
                                a.sidenav__menu-link(href='#') Hoodie &amp; Jackets
                            li
                                a.sidenav__menu-link(href='#') Tees
                    li
                        a.sidenav__menu-link(href='#') for him
                        button.sidenav__menu-toggle(aria-haspopup='true' aria-label='Open dropdown')
                            i.ui-arrow-down
                        ul.sidenav__menu-dropdown
                            li
                                a.sidenav__menu-link(href='#') T-shirt
                            li
                                a.sidenav__menu-link(href='#') Hoodie &amp; Jackets
                            li
                                a.sidenav__menu-link(href='#') Dress
                            li
                                a.sidenav__menu-link(href='#') Suits
                            li
                                a.sidenav__menu-link(href='#') Shorts
                    li
                        a.sidenav__menu-link(href='#') Watches
                        button.sidenav__menu-toggle(aria-haspopup='true' aria-label='Open dropdown')
                            i.ui-arrow-down
                        ul.sidenav__menu-dropdown
                            li
                                a.sidenav__menu-link(href='#') Smart Watches
                            li
                                a.sidenav__menu-link(href='#') Diving Watches
                            li
                                a.sidenav__menu-link(href='#') Sport Watches
                            li
                                a.sidenav__menu-link(href='#') Classic Watches
            li
                a.sidenav__menu-link(href='#') News
                button.sidenav__menu-toggle(aria-haspopup='true' aria-label='Open dropdown')
                    i.ui-arrow-down
                ul.sidenav__menu-dropdown
                    li
                        a.sidenav__menu-link(href='blog-standard.html') Blog Standard
                    li
                        a.sidenav__menu-link(href='blog-single.html') Single Post
            li
                a.sidenav__menu-link(href='#') Pages
                button.sidenav__menu-toggle(aria-haspopup='true' aria-label='Open dropdown')
                    i.ui-arrow-down
                ul.sidenav__menu-dropdown
                    li
                        a.sidenav__menu-link(href='catalog.html') Catalog
                    li
                        a.sidenav__menu-link(href='single-product.html') Single Product
                    li
                        a.sidenav__menu-link(href='cart.html') Cart
                    li
                        a.sidenav__menu-link(href='checkout.html') Checkout
                    li
                        a.sidenav__menu-link(href='about.html') About
                    li
                        a.sidenav__menu-link(href='contact.html') Contact
                    li
                        a.sidenav__menu-link(href='login.html') Login
                    li
                        a.sidenav__menu-link(href='faq.html') FAQ
                    li
                        a.sidenav__menu-link(href='404.html') 404
            li
                a.sidenav__menu-link(href='#') Sign In
// end mobile sidenav
