block scripts
    // jQuery Scripts
    script(type='text/javascript' src='/js/jquery.min.js')
    script(type='text/javascript' src='/js/bootstrap.min.js')
    script(type='text/javascript' src='/js/easing.min.js')
    script(type='text/javascript' src='/js/jquery.magnific-popup.min.js')
    script(type='text/javascript' src='/js/owl-carousel.min.js')
    script(type='text/javascript' src='/js/flickity.pkgd.min.js')
    script(type='text/javascript' src='/js/modernizr.min.js')
    script(type='text/javascript' src='/js/bundle.js')
