// Colors
$main-color: #ec2424;
$alt-color: #f87219;
$text-color: #7b7b7b;
$meta-color: #868686;
$heading-color: #000000;
$nav-color: #ffffff;
$bg-light: #f7f7f7;
$bg-dark: #000000;
$border-color: #e1e1e1;


// Fonts
$body-font: 'Montserrat', sans-serif;
$heading-font: 'Questrial', sans-serif;


// Navbar
$nav-height: 80px;
$nav-short-height: 50px;