extends base

block content 
    section.section-wrap.page-404
        .container
            h1.page-404__title 404
            h2.page-404__subtitle page not found
            p.page-404__text
                | #{message}
            a.btn.btn-md.btn-color(href='/')
                span take me back home!
    // end 404