extends base

block content 
    section.page-title.text-center
        .container
            h1.heading.page-title__title about us
            p.page-title__subtitle.lead
                | We are optimists who love to work together and Creating an awesome clothes store with this Theme is easy than you can imagine.
    // end page title
    // Our Team
    section.section-wrap.pb-20
        .container
            .row.row-8
                .col-lg-3.col-sm-6.team.text-center
                    .team__img-holder
                        img.team__img(src='img/team/team_1.jpg' alt='')
                    h4.team__title.uppercase Monica Bing
                    span.team__position CEO of Company
                    .socials.socials--small.mt-20
                        a.facebook(href='#')
                            i.ui-facebook
                        a.twitter(href='#')
                            i.ui-twitter
                        a.snapchat(href='#')
                            i.ui-snapchat
                        a.instagram(href='#')
                            i.ui-instagram
                        a.pinterest(href='#')
                            i.ui-pinterest
                // end team member
                .col-lg-3.col-sm-6.team.text-center
                    .team__img-holder
                        img.team__img(src='img/team/team_2.jpg' alt='')
                    h4.team__title.uppercase Monica Bing
                    span.team__position CEO of Company
                    .socials.socials--small.mt-20
                        a.facebook(href='#')
                            i.ui-facebook
                        a.twitter(href='#')
                            i.ui-twitter
                        a.snapchat(href='#')
                            i.ui-snapchat
                        a.instagram(href='#')
                            i.ui-instagram
                        a.pinterest(href='#')
                            i.ui-pinterest
                // end team member
                .col-lg-3.col-sm-6.team.text-center
                    .team__img-holder
                        img.team__img(src='img/team/team_3.jpg' alt='')
                    h4.team__title.uppercase Monica Bing
                    span.team__position CEO of Company
                    .socials.socials--small.mt-20
                        a.facebook(href='#')
                            i.ui-facebook
                        a.twitter(href='#')
                            i.ui-twitter
                        a.snapchat(href='#')
                            i.ui-snapchat
                        a.instagram(href='#')
                            i.ui-instagram
                        a.pinterest(href='#')
                            i.ui-pinterest
                // end team member
                .col-lg-3.col-sm-6.team.text-center
                    .team__img-holder
                        img.team__img(src='img/team/team_4.jpg' alt='')
                    h4.team__title.uppercase Monica Bing
                    span.team__position CEO of Company
                    .socials.socials--small.mt-20
                        a.facebook(href='#')
                            i.ui-facebook
                        a.twitter(href='#')
                            i.ui-twitter
                        a.snapchat(href='#')
                            i.ui-snapchat
                        a.instagram(href='#')
                            i.ui-instagram
                        a.pinterest(href='#')
                            i.ui-pinterest
                // end team member
    // end our team
    .container
        hr.no-margin
    // Testimonials
    section.section-wrap
        .container
            .heading-row.mb-0
                .text-center
                    h2.heading
                        | What the customers say?
            .row.justify-content-center
                .col-md-8
                    #owl-testimonials.owl-carousel.owl-theme.owl-carousel--dark-arrows.owl-carousel--visible-arrows
                        .testimonial
                            .testimonial__rating.text-center
                                span.rating
                                span.rating__time 20 days ago
                            p.testimonial__text
                                | I&rsquo;am amazed, I should say thank you so much for your awesome template. Design is so good and neat, every detail has been taken care these team are realy amazing and talented!
                            span.testimonial__author Camille Ragpa
                        .testimonial
                            .testimonial__rating.text-center
                                span.rating
                                span.rating__time 20 days ago
                            p.testimonial__text
                                | I&rsquo;am amazed, I should say thank you so much for your awesome template. Design is so good and neat, every detail has been taken care these team are realy amazing and talented!
                            span.testimonial__author Camille Ragpa
                        .testimonial
                            .testimonial__rating.text-center
                                span.rating
                                span.rating__time 20 days ago
                            p.testimonial__text
                                | I&rsquo;am amazed, I should say thank you so much for your awesome template. Design is so good and neat, every detail has been taken care these team are realy amazing and talented!
                            span.testimonial__author Camille Ragpa
                    // end carousel
                    // end carousel row
    // end testimonials